{% extends "twitterbot/layout.html" %}
{% load static %}

{% block body %}

    {% with profilepic as profilepic %}
        <button class="profilebutton">Go to profile</button>
        <button class="indexbutton">Go back to index</button>
    {% endwith %}

    <div class="pridebox">
        {% with profilepic.current_profile_pic.image as localpath %}
            <img src="{% get_media_prefix %}{{ localpath }}">
        {% endwith %}
        <br>
        User: <span class='twittername'>{{ profilepic.twitter_user.username }}</span>
        <br>
        Pride icon:
        {% with profilepic.current_profile_pic.has_rainbow as has_rainbow %}
            {% if has_rainbow %}
                Yes
            {% else %}
                No
            {% endif %}
        {% endwith %}
        <br>
        Scraped on: {{ profilepic.current_profile_pic.created_at }}
    </div>

    <script src="{% static 'twitterbot/pride-drilldown.js' %}"></script>
{% endblock %}
