{% extends "twitterbot/layout.html" %}
{% load static %}

{% block body %}

{% with profilepics.0 as profilepic %}
    <button class="profilebutton">Go to profile</button>
    <button class="indexbutton">Go back to index</button>
{% endwith %}

    {% for obj in profilepics %}
        <div class="pridebox">
            {% with obj.local_path as localpath %}
                <img src="{% static localpath %}">
            {% endwith %}
            <br>
            User: <span class='twittername'>{{ obj.twitter_user.username }}</span>
            <br>
            Pride icon:
            {% with obj.has_rainbow as has_rainbow %}
                {% if has_rainbow %}
                    Yes
                {% else %}
                    No
                {% endif %}
            {% endwith %}
            <br>
            Scraped on: {{ obj.created_at }}
        </div>
    {% endfor %}
    <script src="{% static 'twitterbot/pride-drilldown.js' %}"></script>
{% endblock %}
