{% extends "twitterbot/layout.html" %}
{% load static %}

{% block body %}

        <button class="profilebutton">Go to profile</button>
        <button class="indexbutton">Go back to index</button>

{% for obj in profilepic %}
    <div class="pridebox">
        {% with obj.image as localpath %}
            <img src="{% get_media_prefix %}{{ localpath }}">
        {% endwith %}
        <br>
        User: <span class='twittername'>{{ profilepic.twitter_user.username }}</span>
        <br>
        Pride icon:
        {% with obj.has_rainbow as has_rainbow %}
            {% if has_rainbow %}
                Yes
            {% else %}
                No
            {% endif %}
        {% endwith %}
        <br>
        Scraped on: {{ obj.created_at }}
    </div>
{% endfor %}
    <script src="{% static 'twitterbot/pride-drilldown.js' %}"></script>
{% endblock %}
