{% extends "twitterbot/layout.html" %}
{% load static %}

{% block body %}

<input type="text" id="searchbox" placeholder="Submit empty to show all users"><button id="searchbutton">Search for user</button><br>

    {% for obj in profilepics %}
        <div class="pridebox">
            {% with obj.local_path as localpath %}
            <img src="{% static localpath %}">
            {% endwith %}
            <button class="profilebutton">Go to profile</button>
            <br>
            User: <span class='twittername'>{{ obj.twitter_user.username }}</span>
            <br>
            Pride icon:
            {% with obj.has_rainbow as has_rainbow %}
                {% if has_rainbow %}
                    Yes
                {% else %}
                    No
                {% endif %}
            {% endwith %}
            <br>
        </div>
    {% endfor %}

{% endblock %}